doctype html
html(lang='en' ng-app='myNews')
  head
    script(src="jquery/dist/jquery.js")
    script(src="angular/angular.js")
    script(src="js/news/news.js")
    script(src="js/news/news-list.js")
    script(src="js/news/news-insert.js")
    script(src="js/news/news-train.js")
  body  
    div(ng-controller='newsCtrl')
      nav
        <a href="#" ng-click="activeMenu='Insert'">Insert</a>
        <a href="#" ng-click="activeMenu='Select'">Select</a>
        <a href="#" ng-click="activeMenu='Train'">Train</a>
      section(class="main-section" ng-if="IsActive('Insert')")
        include partials/news/news-insert
      section(class="main-section" ng-if="IsActive('Select')")
        include partials/news/news-list
      section(class="main-section" ng-if="IsActive('Train')")
        include partials/news/news-train



